<div style="margin-bottom:.5%">
  <mat-card class="example-card storyCard">
    <div class="container">
      <div class="row storyRow">
        <div class="col-md-1">
          <img src="{{subjectPhotoUrl}}">
        </div>
        <div class="col-5 title">
          {{title}}
        </div>
        <div class="col-md-1 instructorImage">
          <img src="{{instructorPhotoUrl}}">
        </div>
        <div class="col-3">
          {{instructorName}}
        </div>
        <div class="col-2">
          {{time}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-5 description">
          {{description}}
        </div>
        <div class="col-7">
        </div>
      </div>
    </div>
  </mat-card>
</div>


<!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': getInstructorPhotoUrl()}"></div>
    <mat-card-title>{{title}}</mat-card-title>            
    <img src="{{subjectPhotoUrl}}">
    <div>{{instructorName}}</div>
  </mat-card-header>        
  <mat-card-content>
    <p>
     {{description}}
    </p>
  </mat-card-content> -->